<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Scrapeosaurus</title>

	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
	  
	<script src="assets/js/script.js"></script>
</head>
<body>

	<header>
		<img src="assets/images/dino.svg" alt="Dino Logo" height="70px"> <span>Scrapeosaurus</span>
	</header>

	<button id="scrape">Scrape Hacker News</button>

    {{{body}}}

</body>
</html>