<section id="stories">
    {{#each story}}

        <div class="story" id={{_id}}>
            <h2>{{{headline}}}</h2>
            <p>Story Link: <a href={{link}}>{{{link}}}</a></p>
            <br>
            <p>Comments:</p>
            <div class="comments">
            </div>

            <div class="newComment">
                <form>
                    <input type="text"><br>
                    <button class="submit">Post Comment</button>
                </form>
            </div>

        </div>

    {{/each}}

</section>

<script src="assets/js/article.js"></script>