<div id="about">
    <p>
        When the above button is clicked, Y Combinator News HTML is fetched. The server will then parse the front page stories and adds them to a Mongo database, if the story is no yet been added.
    </p>
    <p>
        Once scraped, the page redirects to the article section where all saved stories can be viewed. Likewise, comments can be added or removed. Comments are persisted in Mongo as a nested element. 
    </p>
</div>