<div id="about">
    <p>
        When the button is clicked, the Y Combinator News HTML is fetched by the server. The server will then parse out the front page stories. If the story has no yet been added, then it's saved to a Mongo database.
    </p>
    <p>
        Once scraped, the page redirects to the article section where all saved stories can be viewed. Likewise, comments can be added or removed to individual stories. Comments are persisted in Mongo as a nested element in the same collection. 
    </p>
</div>